
.li-treeview {
    list-style-type: none;
}

/* First ul */
ul:nth-child(1) {
    margin:0; padding: 0;
}

.togglable {
    color: rgb(5, 5, 5);
    cursor: pointer;
}

.togglable-down::before, .togglable-up::before {
    font-size: 12px;
    margin-left: 0.5em; 
}

.togglable-down::before {
    content: "▼";
    display: inline-block;    
}

.togglable-up::before {
    content: "▶";
    display: inline-block;
}

.node {
    padding-left: 5px; 
    padding-right : 5px; 
    cursor: default;
    white-space: nowrap;
}

.node-selected {
    background:  rgb(190,40,25); color: white;
}

.node-deselected {
    background: white; color: rgb(5, 5, 5);;
}
